<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<h2 class="col-md-12" style="display: flex; justify-content: center; margin-bottom: 40px">Preguntontis</h2>
	<div class="row">
		<div class="col-md-12" style="text-align: center;">
			<h1>GAME OVER!</h1>
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsk1K6RAUbBH2OuMrBvH576yxmJRqo2D3QTIkvyKySPWJtzr0o">
			<h3><a href="/">Volver a jugar</a></h3>
		</div>
	</div>
</body>

