<h1>Pregunta:</h1>
<h2><%= @@Preg_resp.get_pregunta %><h2>

<form method="post" action="/">
  Respuesta: <input type="text" name="respuesta" />
  <input type="submit" value="Responder" />
</form>

Resultado:
<% if defined?(@resultado) %>
  <p><%= @resultado %></p>
<% end %>
